@media only screen and (max-width: 1000px) {
    header nav
    {
        flex-direction: column;
        height: 18vh;
    }
   header nav ul{
        justify-content: center;
        padding: 1px;
    }
    .search{
        display: flex;
        justify-content: center;
        padding: 0 80px;
         height: 51px;
        margin: auto;
    }
    .logo{
        padding: 2vw;
    }
    .search input{
        padding:2px 32px;
        /* margin: 0px 0px 0px 10px; */
    }
    .slider{
        height: 23vh;
    }
    .carditem img
         {
            width: 120px;
         }
  
}